body {
    background-image: url('https://images.unsplash.com/photo-1484910292437-025e5d13ce87?auto=format&fit=crop&w=1388&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

